.banner {
	width: 100%;
	// width: 100%;
	// overflow: hidden;
	// position: relative;
	// height: 300px;
	// display: flex;
	// flex-direction: column;
	// align-items: center;

	// .item {
	// 	font-size: 0;

	// 	img {
	// 		width: 100%;
	// 	}
	// }
	img {
		width: 100%;
	}
}

.recommend_music_list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	justify-content: space-between;

	.rcmd_music {
		display: flex;
		flex-direction: column;
		padding: 10px;

		.music_info {
			.title {
				padding-top: 8px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}

		.img {
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}