.musiclist_detail {
	padding: 16px;
	min-height: 100vh;

	.detail_inner {
		padding: 8px 0;
		border-radius: 8px;
		background-color: @detaillist-color;
	}
}

.musiclistdetail_lodding {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}