// color
@main-color: #FF5555; //theme color
@rootback-color: #FAFAFA; //page color
@layoutback-color: #E5E5E5; //asidebar background color.
@support-color: #F0F0F0; //hover...
// font
@default-font-color: rgba(0, 0, 0, 0.65);
@secondary-font-color: rgba(0, 0, 0, 0.25);
@slidebar-font-size: 14px;

// transition
@default-transition: all ease-in-out 0.2s;